#nav-bar{
    background-color: #00a087;
    color: #e8fdff;
    position: fixed;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }

#nav-bar .logo {
  height: 80px;
  width: 80px;

}

#nav-bar .header {
  position: fixed;
  line-height: 2.5;
  font-weight: 300;
  font-size: 32px;
  margin-left: 10px;
}